body {
  font-family: "Roboto", sans-serif;
  background-color: #d3d3d3;
  margin: 0;
  padding: 0;
  color: #000000;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1d1d1d;
    color: #e0e0e0;
  }
}

.header {
  background-color: #343a40;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-title {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 0;
}
.header .login-register a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.header .login-register #login {
  background-color: transparent;
}
.header .login-register #login:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.header .login-register #register {
  background-color: #007bff;
}
.header .login-register #register:hover {
  background-color: #0056b3;
}
.header .login-register .user-menu {
  position: absolute;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  top: 40px;
  right: 0;
  min-width: 150px;
  z-index: 100;
  display: none;
}
.header .login-register .user-menu .menu-item {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
.header .login-register .user-menu .menu-item:hover {
  background-color: #f0f0f0;
}
.header .login-register .user-menu .menu-item i {
  margin-right: 10px;
  font-size: 1.2rem;
}
.header .login-register .user-menu.show {
  display: block;
}
.header .login-register .username-display {
  color: #ffffff;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 4px;
  display: inline-block;
}
.header .login-register .username-display:hover {
  color: #ccc;
}
.header .login-register .hidden {
  display: none;
}
@media (prefers-color-scheme: dark) and (prefers-color-scheme: dark) {
  .header .login-register .user-menu {
    position: absolute;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    top: 40px;
    right: 0;
    min-width: 150px;
    z-index: 100;
    display: none;
  }
  .header .login-register .user-menu .menu-item {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .header .login-register .user-menu .menu-item:hover {
    background-color: #121212;
  }
  .header .login-register .user-menu .menu-item i {
    margin-right: 10px;
    font-size: 1.2rem;
  }
  .header .login-register .user-menu.show {
    display: block;
  }
  .header .login-register .username-display {
    color: #ffffff;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: none;
    display: inline-block;
  }
  .header .login-register .username-display:hover {
    color: #ccc;
  }
  .header .login-register .hidden {
    display: none;
  }
}

.main-form {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.main-form h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #343a40;
}
.main-form .input-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  transition: border 0.3s ease;
}
.main-form .input-group:hover {
  border-color: #000000;
}
.main-form .input-group:focus-within {
  border-color: #000000;
}
.main-form .input-group .input-icon {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #000000;
}
.main-form .input-group input[type=text] {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #000000;
}
.main-form button {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: none;
  color: #ffffff;
  font-size: 1rem;
}
.main-form button#shorten {
  background-color: #343a40;
  margin-bottom: 1rem;
}
.main-form button#shorten:hover {
  background-color: #495057;
}
.main-form button#install-extension {
  background-color: #007bff;
}
.main-form button#install-extension:hover {
  background-color: #0056b3;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #e0e0e0;
  }
  .header {
    background-color: #1f1f1f;
  }
  .header .header-title {
    color: #e0e0e0;
  }
  .main-form {
    background-color: #1f1f1f;
    color: #e0e0e0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  }
  .main-form h1 {
    color: #e0e0e0;
  }
  .main-form .input-group {
    border: 1px solid #444;
    background-color: #2c2c2c;
  }
  .main-form .input-group:hover {
    border-color: #e0e0e0;
  }
  .main-form .input-group:focus-within {
    border-color: #fff;
  }
  .main-form .input-group .input-icon {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e0e0e0;
  }
  .main-form .input-group input[type=text] {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #e0e0e0;
  }
}
.notification {
  position: fixed;
  bottom: 70px;
  right: 30px;
  background-color: #007bff;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  transition: opacity 0.5s ease, transform 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notification.hidden {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}
.notification.visible {
  opacity: 1;
  transform: translateY(0);
}

.close-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
  margin-left: 1rem;
  transition: color 0.3s ease;
}
.close-btn:hover {
  color: #000000;
}

.copy-url {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1.2rem;
  margin-left: 1rem;
  transition: color 0.3s ease;
  z-index: 1000;
}
.copy-url .fa-copy {
  color: #fff;
  display: none;
}
.copy-url:hover {
  color: #000000;
}

footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
}
footer .scicon {
  font-size: 1.5rem;
  color: #ffffff;
  flex-shrink: 0;
}
@media (max-width: 600px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
  footer .scicon {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
