<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sci-hook/scicon@latest/style.css">
    <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-app.js">
    </script>

    <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-firestore.js"></script>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='auth.js') }}"></script>


</head>
<body>
  <header>
    <div class="header">
        <p class="header-title" id="header-title">Brevurl</p>
        <div class="login-register">
          <a href="{{ url_for('our_team') }}" id="ourteam">Our Team</a>

          <a href="{{ url_for('login') }}" id="login">Login</a>
          <a href="{{ url_for('register') }}" id="register">Register</a>
          <span id="user-display" class="username-display" style="display: none;"></span>

          <div id="user-menu" class="user-menu hidden" >
            <div class="menu-item" onclick="window.location.href = '/account';">
                <i class="fas fa-user" ></i>Account
            </div>
            <div class="menu-item-admin"id="menu-item-admin" style="display: none;" onclick="window.location.href = '/admin';">
                <i class="fas fa-hammer" ></i>Admin Panel
            </div>
            <div class="menu-item" onclick="window.location.href = '/ourteam';">
                <i class="fas fa-users"></i></i> Our Team
            </div>
            <div class="menu-item" onclick="logout()">
                <i class="fas fa-sign-out-alt" onclick=""></i> Logout
            </div>
        </div>
        </div>
    </div>
</header>

    <div class="main-form">
        <h1>Brevurl</h1>
        <form id="shorten-form" action="javascript:void(0);" method="post" onsubmit="create_url_entry(event)">
            <div class="input-group">
                <div class="input-icon"><i class="fas fa-link"></i></div>
                <input type="text" id="url" name="url" placeholder="Enter the URL you want to shorten" required>
            </div>
            
            <div class="input-group with-margin">
                <div class="input-icon"><i class="fas fa-tag"></i></div>
                <input type="text" id="short" name="short" placeholder="Shortened name(optional)">
            </div>
            
            <button type="submit" id="shorten">Shorten it!</button>
            <br>
            <button type="button" id="install-extension" onclick="redirectExtension()">Install Browser Extension</button>
        </form>
    </div>

    <div id="notification" class="notification hidden">
        <span id="notification-message"></span>
        <button id="copy-url" class="copy-url">
            <i class="fa fa-copy"></i>
          </button>
        <button id="close-notification" class="close-btn">&times;</button>
        
      </div>
      
      <footer>
        Scihook
        <i class="scicon scicon-scihook"></i>

      </footer>
</body>
</html>
