<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Team</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='ourteam.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sci-hook/scicon@latest/style.css">
  <script src="{{ url_for('static', filename='ourteam.js') }}"></script>


</head>

<body>

  <header>
    <div class="header">
      <p class="header-title" id="header-title" onclick="window.location.href = '/';">Brevurl</p>
      <div class="user">
        <span id="user-display" class="username-display" style="display: none;"></span>
        <div id="user-menu" class="user-menu hidden">
          <div class="menu-item" onclick="window.location.href = '/';">
            <i class="fas fa-home"></i> Return to home page
          </div>

        </div>
      </div>

    </div>
  </header>

  <div class="team-container">
    <h1>Our Team</h1>
    <p class="description">Brevurl is a free software link shortening service from Sci-Hook. Sci-Hook Organization aims
      to make science accessible to everyone, all the time.
      We know that we can only build the future with science and we strive for this.</p>
    <div class="team-card">
      <div class="photo-placeholder">
        <img src="https://i.imgur.com/hUOUPlo.jpeg" alt="tux" class="pp">
      </div>
      <div class="info">
        <h2>Mehmet Emre Demir</h2>
      </div>
      <div class="social-buttons">
        <a href="https://github.com/mehmetemredemir" target="_blank" class="social-button github">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
    <h3>Sci-Hook Team</h3>

    <div class="scihook-team">
      <div class="team-card">
        <div class="photo-placeholder">
          <img src="https://i.imgur.com/Bme5iNR.png" alt="tux" class="pp">
        </div>
        <div class="info">
          <h2>Çınar Civan</h2>
        </div>
        <div class="social-buttons">
          <a href="mailto:cinar@scihook.org" target="_blank" class="social-button mail">
            <i class="fas fa-envelope"></i>
          </a>
          <a href="https://cinarcivan.com/" target="_blank" class="social-button web">
            <i class="fas fa-globe"></i>
          </a>
          <a href="https://orcid.org/0000-0001-6378-8630" target="_blank" class="social-button orcid">
            <i class="fab fa-orcid"></i> </a>
          <a href="https://www.linkedin.com/in/cinarcivan/" target="_blank" class="social-button linkedin">
            <i class="fab fa-linkedin-in"></i> </a>
          <a href="https://www.youtube.com/@cinarcvn/featured" target="_blank" class="social-button youtube">
            <i class="fab fa-youtube"></i> </a>
            <a href="https://www.instagram.com/cinarcivann/" target="_blank" class="social-button instagram">
              <i class="fab fa-instagram"></i> </a>
              <a href="https://x.com/cinarcvn" target="_blank" class="social-button twitter">
                <i class="fab fa-twitter"></i> </a>
          <a href="https://github.com/cinarcivan" target="_blank" class="social-button github">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
      <div class="team-card">
        <div class="photo-placeholder">
          <img src="https://i.imgur.com/ybJj85i.png" alt="tux" class="pp">
        </div>
        <div class="info">
          <h2>Emirhan Gerçeker</h2>
        </div>
        <div class="social-buttons">
          <a href="mailto:emirhan@scihook.org" target="_blank" class="social-button mail">
            <i class="fas fa-envelope"></i>
          </a>
          <a href="https://www.linkedin.com/in/gerceker/" target="_blank" class="social-button linkedin">
            <i class="fab fa-linkedin-in"></i> </a>
            <a href="https://www.instagram.com/gercekeremirhan_lim10/" target="_blank" class="social-button instagram">
              <i class="fab fa-instagram"></i> </a>
          <a href="https://github.com/gerceker" target="_blank" class="social-button github">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>

  </div>

  <footer>
    Sci-Hook
    <i class="scicon scicon-scihook"></i>

  </footer>
</body>

</html>