<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='recover.css') }}">
    <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-app.js">
    </script>

    <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-auth.js">
    </script>
    <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-firestore.js"></script>
    <script src="{{ url_for('static', filename='auth.js') }}"></script>
    <title>Recover Account | Brevurl</title>
</head>

<body>

    <div class="login-form">
        <h2>Recover your Brevurl account</h2>
        <form onsubmit="Recover(event)">
            <div class="email-group">
                <div class="input-icon"><i class="fas fa-envelope"></i></div>
                <input type="text" id="email" name="email" placeholder="Email" required>
            </div>
            <button type="submit">Send Password Reset Email</button>

        </form>
    </div>

    <div id="notification" class="notification hidden">
        <span id="notification-message"></span>
        
        <button id="send-email" class="send-btn hidden">Go Login Page</button>
        <button id="close-notification" class="close-btn">&times;</button>
    </div>
    


</body>

</html>