<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-app.js">
    </script>

    <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-auth.js">
        
    </script>
    <script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-firestore.js"></script>
    <script src="{{ url_for('static', filename='authscript.js') }}"></script>

    <script src="{{ url_for('static', filename='auth.js') }}"></script>

    <title>Register | </title>
</head>

<body>

    <div class="register-form" id="auth-page">
        <h2>Create a </h2>
        <form onsubmit="Register(event)">
            <div class="email-group">
                <div class="input-icon"><i class="fas fa-envelope"></i></div>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="password-group">
                <div class="input-icon"><i class="fas fa-key"></i></div>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="password-group">
                <div class="input-icon"><i class="fas fa-key"></i></div>
                <input type="password" id="password-confirm" name="password" placeholder="Confirm Password" required>
            </div>
            <div class="username-group">
                <div class="input-icon"><i class="fas fa-user"></i></div>
                <input type="text" id="username" name="username" placeholder="Username" required>
            </div>


            <button type="submit">Register</button>

        </form>
        <div class="group">
            <div class="form-info-text">
                Do you have a account? <a class='brevurl-link' href="{{ url_for('login') }}">Login</a>
            </div>
        </div>
    </div>

    <div id="notification" class="notification hidden">
        <span id="notification-message"></span>
        
        <button id="send-email" class="send-btn hidden">Send Email</button>
        <button id="close-notification" class="close-btn">&times;</button>
    </div>
    


</body>

</html>